* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-weight: 200;
    line-height: 1.5;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
    --bg-color: #000000;
    --contrast-color: #fff;
}

:root[data-theme="ligth"] {
    --bg-color: #fff;
    --contrast-color: #242424;
}
html,
body {
    height: 100%;
}

#app {
    height: 100%;
    max-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.25rem solid var(--contrast-color);
    background-color: var(--bg-color);
    overflow: hidden;
}

.icon-theme {
    border: 0.25rem solid var(--contrast-color);
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

svg {
    --fill-color: var(--contrast-color);
    width: 80%;
    height: auto;
    pointer-events: none;
}

.info {
    font-family: monospace;
}
.info p {
    font-size: 1rem;
    text-align: center;
}
